go 1.24.3

use (
	./gateway
	./pkg
	./services/auth-service
	./services/entity-service
	./services/incident-service
	./services/location-service
	./services/monitoring-service
	./services/notification-service
	./services/user-service
)
